<footer>
    <nav>
  <div class="footer-top">
    <h3>INVICTA AL DíA</h3>
    <div class="line-yellow"></div>
    <p>INSCRÍBETE A NUESTRO NEWSLETTER PARA CONOCER <br>ACERCA DE NUESTRAS PROMOCIONES, EVENTOS Y DESCUENTOS VIGENTES</p>
    <div class="line-gray"></div>
    <form id="newsletter-form">
        <div class="input-group">
          <input type="email" id="email" placeholder="Dirrección de correo electrónico" required>
  
                </div>
  
        <input type="checkbox" id="checkbox">
           <label for="checkbox">Autorizo el tratamiento de mis Datos personales</label>
           <button type="button" id="subscribe-button">Suscribir</button>
  
      </form>
  </div>
</nav>
<nav class="navbar">
    <div class="navbarlogo">
      <img src="assets/fon.png">
</div>
</nav>
<nav>
    <div class="row">
        <div class=" first-column">
          <p><strong style="font-size: 14px; ">SERVICIO AL CLIENTE</strong></p>
          <p style="text-align: left;">Contactenos</p>
          <p style="text-align: left;">Metodos de pago</p>
          <p style="text-align: left;">Tiendas</p>
          <p style="text-align: left;">Mas</p>
        </div>
        <div class="second-column">
          <p style="text-align: left;">Texto columna</p>
          <p style="text-align: left;">Texto columna</p>
          <p style="text-align: left;">Texto columna</p>
        </div>
        <div class="third-column">
          <p><strong  style="font-size: 14px;">NUESTRA EMPRESA</strong></p>
          <p >Quienes Somos</p>
          <p >Localizador de Tiendas</p>
          <p >Prensa</p>

        </div>
      </div>
      <div class="icon-wrapper">
        <div class="icon-container">
            <h4>Síguenos</h4>
            <a href="https://www.facebook.com/InvictaWatch.officialCO/">
                <i class="fa-brands fa-facebook icon"></i>
            </a>
            <a href="https://www.instagram.com/">
                <i class="fa-brands fa-instagram icon"></i>
            </a>
            <a href="https://www.youtube.com/c/InvictaLatinoamerica">
                <i class="fa-brands fa-youtube icon"></i>
            </a>
        </div>
    </div>
</nav>


</footer>